{% extends "pages/_base.html" %}

{% block title %}
    Password Generator
{% endblock %}

{% block content %}
    <div class="container">
        <h4>Password Generator</h4>
        <p>This can be used to generate random passwords, or just random strings. Customize the string based on user set parameters!</p>
        <form method="post">
            {% csrf_token %}
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h6 class="mb-0">
                            <a data-toggle="collapse" href="#optionsCard">
                                <span class="oi oi-caret-bottom"></span> Options
                            </a>
                        </h6>
                    </div>

                    <div id="optionsCard" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="container">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Characters</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Length</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}