{% extends 'pages/_base.html' %}
{% load static %}

{% block title %}Computer Gear{% endblock %}

{% block content %}
    <div class="container">
        <h3>My Computer Gear</h3>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">Workstation</div>
            <div class="card-body">
                <ul>
                    <li>Laptop: Macbook Pro 15" Touchbar</li>
                    <li>Keyboard: Razer Huntsman Tournament Edition</li>
                    <li>Mouse: Razer Deathadder</li>
                    <li>Mousepad: Razer Goliath Mousemat</li>
                    <li>Monitor Main: Philips 278E1A 27" 4k</li>
                    <li>Monitor Secondary: Benq XL2420z 144 Hz 24"</li>
                    <li>Monitor Mount: Autonomous Dual Monitor Mount</li>
                    <li>Chair: Autonomous ErgoChair 2</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">Home Server</div>
            <div class="card-body">
                <ul>
                    <li>CPU: Intel i7 3930k</li>
                    <li>Motherboard: Asus Rampage IV Extreme</li>
                    <li>RAM: 32 GB GSkillz Ripjawz</li>
                    <li>Boot SSD: 128 GB Samsung 860 Pro</li>
                    <li>VM SSD: 512 GB Samsung 860 Pro</li>
                    <li>Storage Drive: 6x Seagate Barracuda 3 TB</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">Camera Gear</div>
            <div class="card-body">
                <ul>
                    <li>Camera: Sony RX100V</li>
                    <li>Drone: DJI Mavic Pro</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
