{% extends 'pages/_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <img class="rounded mx-auto d-block" src="{% static 'pages/pic.jpg' %}"/>
            <h1 class="jumbotron-heading">Hey, I'm Aaron</h1>
            <p class="lead text-muted">Scroll down to see what I've done</p>
            <p>
                <a href="mailto:aaron@xnovax.net" class="btn btn-info my-2">Email Me</a>
            </p>
            <p>
                <a href="https://github.com/xNovax"><img class="img-fluid" src="{% static 'pages/github-logo.png' %}" alt="Github" width=30 align="middle"></a>
                <a href="https://www.linkedin.com/in/aaron-spindler/"><img class="img-fluid" src="{% static 'pages/linkedin-logo.png' %}" alt="Linkedin" width=30 align="middle"></a>
                <a href="https://twitter.com/aaron_spindler"><img class="img-fluid" src="{% static 'pages/twitter-logo.png' %}" alt="Twitter" width=30 align="middle"></a>
            </p>
        </div>
    </section>
    <div class="container">
        <p class="text-center"><a href="#posts">Posts</a> - <a href="#projects">Projects</a> - <a href="#books">Books</a> - <a href="#courses">Courses</a></p>
        <a name="posts"><h3>Blog Posts</h3></a>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" width=200 src="{{ post.thumbnail }}"/>
                                <div class="card-body">
                                    <a href="{{ post.link }}"><h5 class="card-title">{{ post.title }}</h5></a>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ post.pubDate }}</h6>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>Sorry, there are no posts at the moment!</p>
                    {% endfor %}
                </div>
                <a class="btn btn-primary" href="https://medium.com/@aaron_spindler">See More</a>
            </div>
        </div>
    <hr>
        <a name="projects"><h3>Most Recent Projects</h3></a>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for project in projects %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <a href="{% url 'project_details' project.pk %}"><h5 class="card-title">{{ project.title }}</h5></a>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ project.short_description }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="btn btn-primary" href="{% url 'project_list' %}">See More</a>
            </div>
        </div>
    <hr>
        <a name="books"><h3>Most Recent Books I've Read</h3></a>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for book in books %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" width=200 src="{{ book.cover.url }}"/>
                                <div class="card-body">
                                    <a href="{% url 'book_detail' book.pk %}"><h5 class="card-title">{{ book.title }}</h5></a>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ book.subtitle }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="btn btn-primary" href="{% url 'book_list' %}">See More</a>
            </div>
        </div>
    <hr>
        <a name="courses"><h3>Most Recent Courses I've Taken</h3></a>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for course in courses %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <a href="{% url 'course_detail' course.pk %}"><h5 class="card-title">{{ course.title }}</h5></a>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ course.instituition }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <a class="btn btn-primary" href="{% url 'course_list' %}">See More</a>
            </div>
        </div>
    <hr>
        <a name="tech"><h3>Technologies I've Used</h3></a>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for tech in technologies %}
                        <div class="col-md-2">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">{{ tech.name }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
