{% extends 'pages/_base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <img class="rounded mx-auto d-block" src= "{% static 'pages/pic.jpg'%}"/>
    <h1 class="jumbotron-heading">Hey, I'm Aaron</h1>
    <p class="lead text-muted">Scroll down to see what I've done</p>
    <p>
      <a href="mailto:aaron@xnovax.net" class="btn btn-info my-2">Email Me</a>
    </p>
    <p>
      <a href="https://github.com/xNovax"><img class="img-fluid" src="{% static 'pages/github-logo.png'%}" alt="Github" width=30 align="middle"></a>
      <a href="https://www.linkedin.com/in/aaron-spindler/"><img class="img-fluid" src="{% static 'pages/linkedin-logo.png'%}" alt="Linkedin" width=30 align="middle"></a>
      <a href="https://twitter.com/aaron_spindler"><img class="img-fluid" src="{% static 'pages/twitter-logo.png'%}" alt="Twitter" width=30 align="middle"></a>
    </p>
    <little class="text-muted">Recent Activity</little>
  </div>
</section>
<div class="container">

  <h3>Projects</h3>
  <hr>
  {% for project in projects %}
  {% endfor %}

  <h3>Books</h3>
  <hr>
  {% for book in books %}
  {% endfor %}

  <h3>Courses</h3>
  <hr>
  {% for course in courses %}
  {% endfor %}

  <h3>Blog Posts</h3>
  <hr>
  {% for blog in blogs %}
  {% endfor %}
</div>
{% endblock %}
